@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	transition: background 0.2s linear;
}

body.dark {
	background-color: #292c35;
}

body.dark p {
	color: #fff;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	background-color: #111;
	position: relative;
	height: 26px;
	width: 50px;
	border-radius: 50px;
	transform: scale(1.5); /*This will make the toggle a little bigger */
	margin-bottom: 30px;
}

.ball {
	background-color: #fff;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon-o {
	color: #f1c40f;
}

.fa-sun-o {
	color: #f39c12;
}

